{% load static %}

<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>ERP</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_admin.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="cont">
        <nav class="carrotsuite-nav">
            <!-- <div class="logo">
                <a href="index.html" class="active nav-item">
                    <img src="images/Carrotsuite.jpg" alt="Carrotsuite" />
                </a>
            </div> -->


            <div class="icons right">
                <a href="#" class="nav-item">
                    <div class="badge"><span>5</span></div>
                    <i class="far fa-bell"></i>
                </a>
                <a href="#" class="nav-item"><i class="far fa-envelope"></i></a>
            </div>
            <div class="user" id="user">
                <a href="#" class="user-link">{{user.username}}</a>
                <div class="user-img-wrapper">
                    <img src="{% static 'images/admin/useravatar.png' %}">
                </div>
            </div>
        </nav>
        <input type="checkbox" id="check">
        <label for="check">
            <i class="fas fa-bars" id="btn"></i>
            <i class="fas fa-times" id="cancel"></i>
        </label>

        <div class="sidebar">

            <header>My App</header>
            <ul>
                <li><a href=""><i class="fas fa-qrcode"></i>Dashboard</a></li>
                <li><a href="/allCustomers"><i class="fa fa-users"></i>Clients</a></li>
                <li><a href="#"><i class="fas fa-stream"></i>Overview</a></li>
                <li><a href="#"><i class="fas fa-calendar-week"></i>Events</a></li>
                <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
                <li><a href="#"><i class="far fa-envelope"></i>Contact</a></li>
                <li><a href="#"><i class="far fa-question-circle"></i>About</a></li>
            </ul>
        </div>
        {% block content%}

        {% endblock content %}
    </div>
</body>

</html>