{% extends 'base.html' %}

{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  <title>Document</title>
</head>
<body class="body1">
  <div class="container">
    <div class="form signup">
      <form action="/verify" method="POST">
        {% csrf_token %}
        <h2>Verify OTP</h2>
        <br>

        <div class="inputBox">
          <input type="number" required="required" name="otp">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <span>OTP</span>
        </div>
        <br>
        <div class="inputBox">
          <input type="submit" value="Verify">
        </div>
        <br>

      </form>
      {% for message in messages%}
        <h2>{{message}}</h2>
        {%endfor%}
    </div>

  </div>
  <script>
    let login=document.querySelector('.login');
    let register=document.querySelector('.create');
    let container=document.querySelector('.container');


    login.onclick=function()
    {
      container.classList.add('signinForm')
    }
    register.onclick=function()
    {
      container.classList.remove('signinForm')
    }
  </script>
</body>
</html>

{% endblock content %}